<!DOCTYPE html>
<html>
<head>
    <title>Scrabble API</title>
</head>
<body>

<h2>Scrabble Word Finder</h2>

<form onsubmit="getWords(); return false;">
    <input type="text" id="letters" placeholder="Digite letras">
    <button type="submit">Buscar</button>
</form>

<div id="result"></div>

<script>
function getWords() {
    let letters = document.getElementById("letters").value;

    fetch("/words?letters=" + letters)
    .then(res => res.json())
    .then(data => {
        let html = "<b>Palavras:</b><br>";
        data.possibilities.forEach(w => {
            html += w + "<br>";
        });
        document.getElementById("result").innerHTML = html;
    });
}
</script>

</body>
</html>
